*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $texto-negro;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(236, 231, 231);
}

body::-webkit-scrollbar-thumb{
   border-radius: 10%;
   background-color: $fondo-primario;
}

/* HEADER */
header img{
    border-radius: 50%;
}

.titulo{
    text-align: center;
    margin: 50px 0;
    font-family: $fuente-principal;
    font-weight: map-get($font-weight, bold);
    color: $fondo-primario;
}


.titulo-2{
    text-align: center;
    margin: 60px 0;
    font-family: $fuente-principal;
    font-weight: map-get($font-weight, bold);
    color: $texto-negro;
    padding: 30px;
    background-color: $fondo-secundario;
    border-radius: 5%;
}

.titulo-3{
    text-align: center;
    font-family: $fuente-principal;
    font-weight: map-get($font-weight, bold);
    font-size: 30px;
    color: $texto-negro;
    padding: 20px;
    background-color: $fondo-secundario;
    border-radius: 7%;
}

.boton-principal{
    background-color: aqua;
}
/* Vista del titulo 3 en mobile */

@media(max-width: 700px){
    .titulo-3{
        font-size: 25px;
        margin: 40px 0;
        
    }
}


a{
    font-family: $fuente-principal;
    font-weight: map-get($font-weight, bold);
    
    
}

.dos{
    font-size: 30px;
}

.segundo-section{
    font-weight: 600;
    text-align: center;
}