


/* video pagina */
.parrafo-video{
    color: rgb(222, 33, 184);
    font-weight: 700;
    padding: 10px 0;
}

.titulo-video{
    text-align: center;
    padding-bottom: 30px;
}

.chat{
    width: 150px;
    padding: 20px;
    background-color: $verde;
    border-radius: 40%;
    text-align: center;
    font-family: $fuente-principal;
    font-weight: map-get($font-weight, bold);
    position: fixed;
    right: 30px;
    bottom: 30px;
        .chat-texto{
            text-decoration: none;
            color:$texto-negro;
        }
}

svg{
    width: 30px;
    height: 30px;
    
}

.video-1{
    width: 90%;
    height: 400px;
}

.seccion-video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    box-shadow: 5px 5px 20px 5px;
}



@media (max-width: 700px){
    .video{
        margin: 0;
       
    }

   

    .titulo{
        font-size: 30px;
        display: map-get($flex, flex);
        flex-wrap: wrap;
        justify-content: map-get($flex, justify);
    }
    .seccion-video{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .parrafo-video{
        text-align: center;
    }
    
}